// -----------------------------------------------------------------------------
// This file contains styles that are specific to the contact page
// -----------------------------------------------------------------------------
.contact {
    padding: 100px 0;
    margin: auto;
    margin-bottom: 2000px;
    max-width: 1400px;


    //heading
    .contact-heading {
        font-size: 4rem;
        text-align: center;
    }


    //form
    .contact-form {
        padding: 50px 0;
    }

    .contact-newsletter{
        width: 60%;
        margin: 100px auto;
    }





    //three column layout
}