body {
    margin: 0 auto;
    padding: 0;
    width: 80%;
    font-family: sans-serif;
    color: #363636;
  }

  img {
    width: 100%;
    cursor: pointer;
  }

  .img-1 {
    border-radius: 5%;
    box-shadow: rgba(3, 2, 12, 0.24) 0px 3px 8px;
    margin-bottom: 4%;
    cursor: pointer;
  }
  

  .box1 {
    width: 50%;
    margin-right: 10%;
  }

  .box2 {
    width: 50%;
    margin-top: 3%;
  }
  
  .container {
    width: 95%;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 8%;
  }

  .add-cart-btn {
    text-align: center;
    padding: 9.5px 40px;
    margin-left: 10px;
    border-radius: 7px;
    border: none;
    background-color: rgb(252, 252, 252);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
 }

 .plus-btn {
    margin: 0;
    background-color: #363636;
    text-align: center;
    padding: 9px 8px;
    border-radius: 7px;
    border: none;
    color: white;
    
    
 }

 .zero {
  padding: 0 35px;
  font-size: 12px;
}

 .all {
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
}

.zero11 {
  position: absolute;
  color: #363636;
  font-size: 70%
} 

.descrpt {
  font-size: 1rem;
  color: #363636;
  margin: 10% 0%;
}

.snk-p {
  font-size: 70%;
  letter-spacing: 2px;
}

.r-box {
  width: 30%;
  margin: 0 10px;
  box-shadow: rgba(66, 62, 99, 0.24) 0px 3px 8px;
}


.inner-div {
  display: flex;
  justify-content: space-between;
}


.h2-related {
  text-align: center;
  margin: 0;
  margin: 10px 0;
  font-size: 150%;
}



  @media screen and (max-width: 1024px) {
    body {
        width: 97%;
        overflow-x: hidden;
      }

      .container {
        width: 95%;
        flex-direction: row;
      }

      .plus-btn {
        margin: 0;
        background-color: #363636;
        text-align: center;
        padding: 9px 0px;
        border-radius: 7px;
        border: none;
        
     }
    
     .zero {
        padding: 0 25px;
        font-size: 12px;
     }
     
     .descrpt {
        font-size: 1rem;
        color: gray;
        margin: 5% 0;
      }
    
      .add-cart-btn {
        text-align: center;
        padding: 9.5px 20px;
        margin-left: 10px;
        border-radius: 7px;
        border: none;
        background-color: rgb(252, 252, 252);
        box-shadow: rgba(153, 144, 240, 0.24) 0px 3px 8px;
        cursor: pointer;
     }
    
     .plus {
      margin-right: 10px;
    }
    
    .minus {
      margin-left: 10px;
    } 

    

    .r-box {
      width: 30%;
      margin: 0 10px;
      
    }
    
    
    .inner-div {
      display: flex;
      justify-content: space-between;
      
    }
    
    
    .h2-related {
      text-align: center;
      margin: 0;
      margin: 10px 0;
      font-size: 20px;
    }

    
  }

  @media screen and (max-width: 600px) {
    body {
        width: 100%;
        overflow-x: hidden;
      }

      .container {
        width: 100%;
        flex-direction: column;
        margin-top: 0;
      }

      .box1 {
        width: 100%;
      }
    
      .box2 {
        width: 90%;
        margin-left: 20px;
      }

      .img-1:hover {
        opacity: 1;
      }

      .img-1 {
        border-radius: 0;
        margin: 0;
      }

      .descrpt {
        font-size: 1rem;
        color: gray;
        margin: 5% 0;
      }
    
      .zero {
        padding: 0 40%;
        font-size: 12px;
     }
    
      .plus {
        margin-right: 5px;
      }
    
      .minus {
        margin-left: 5px;
      }
    
     .add-cart-btn {
      width: 100%;
      border-radius: 7px;
      border: none;
      background-color: rgb(252, 252, 252);
      box-shadow: rgba(153, 144, 240, 0.24) 0px 3px 8px;
      cursor: pointer;
      margin-bottom: 40px;
      position: relative;
      margin-left: 0;
      margin-top: 15px;
    }
     
    
    .plus-btn {
      width: 100%;
      margin: 0;
      background-color: #363636;
      text-align: center;
      padding: 9px 3px;
      border-radius: 7px;
      border: none;
      
    }

    .r-box {
      width: 60%;
      margin: 10px 10px;
      
    }

    .inner-div {
      flex-direction: column;
      align-items: center;
    }

    .h1-r {
      font-size: 20px;
      text-align: center;
  }

  .h2-related {
    text-align: center;
    margin: 0;
    margin: 10px 0;
    font-size: 20px;

  }

}