@charset "UTF-8";

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors

// 3. Base stuff
@import
  'base/base',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/login',
  'layout/footer';

// 5. Components
@import
  'components/button';

// 6. Page-specific styles
@import
  'pages/homepage',
  'pages/gallery',
  'pages/contact';


