/**
 * Set up a decent box model on the root element
 */
/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
 * Basic styles for links
 */
body {
  -webkit-transition: background-color 1.5s;
  transition: background-color 1.5s;
}

/**
 * Basic typography style for copy text
 */
.bg-nav {
  background-color: #404040;
}

.login-box {
  width: 320px;
  height: 420px;
  color: #404040;
  top: 40%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 70px 30px;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="email"],
.login-box input[type="password"] {
  border: none;
  border-bottom: 1px solid #404040;
  background-color: transparent;
  outline: none;
  height: 40px;
  color: #363636;
  font-size: 16px;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background-color: #3E3E3E;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
  width: 50%;
  font-weight: bold;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #404040;
  color: white;
}

.bg-footer {
  background-color: #404040;
  color: white;
}

::-webkit-input-placeholder {
  color: #fff;
  font-size: 11px;
  font-family: sans-serif;
}

:-ms-input-placeholder {
  color: #fff;
  font-size: 11px;
  font-family: sans-serif;
}

::-ms-input-placeholder {
  color: #fff;
  font-size: 11px;
  font-family: sans-serif;
}

::placeholder {
  color: #fff;
  font-size: 11px;
  font-family: sans-serif;
}

input[type=text] {
  width: 120%;
  background-color: #363636;
}

.arrow {
  position: relative;
}

.arrow1 {
  position: absolute;
  top: 15;
  left: 10;
}

@media screen and (max-width: 600px) {
  input[type=text] {
    width: 100%;
  }
  .tag {
    font-size: 11px;
  }
  .arrow1 {
    display: none;
  }
  .toucans {
    font-size: 11px;
  }
}

.bg-filter,
.bg-feedback {
  background-color: #C4C4C4;
}

.add-pointer {
  cursor: pointer;
}

.btn,
a {
  font-weight: bold;
}

.transform-card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */
.tracking-in-contract {
  -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

.zero11 {
  position: absolute;
  margin-right: 100px;
  color: white;
  font-size: 60%;
}

.mx-2 {
  margin-right: 0 !important;
}

.contact {
  padding: 100px 0;
  margin: auto;
  margin-bottom: 100px;
  max-width: 1400px;
}

.contact .contact-heading {
  font-size: 4rem;
  text-align: center;
}

.contact .contact-subheading {
  text-align: center;
}

.contact .contact-form {
  padding: 50px 0;
  width: 70%;
}

.contact .contact-newsletter {
  width: 70%;
  padding: 40px 50px;
  margin: 100px auto;
}

.contact .contact-newsletter h2 {
  text-align: center;
}

.contact .card-group {
  width: 70% !important;
  margin: auto;
  gap: 20px;
}

.contact .card-group .card {
  border: none;
}

.contact .card-group .card-body {
  border: 1px solid rgba(128, 128, 128, 0.431);
  border-radius: 15px;
  padding: 30px;
}

@media screen and (max-width: 600px) {
  .toucans {
    font-size: 11px;
  }
}

.product-main {
  margin: 0 auto;
  padding: 0;
  width: 80%;
  font-family: sans-serif;
  color: #363636;
}

.product-main img {
  width: 100%;
  cursor: pointer;
}

.product-main .img-1 {
  border-radius: 5%;
  -webkit-box-shadow: rgba(3, 2, 12, 0.24) 0px 3px 8px;
          box-shadow: rgba(3, 2, 12, 0.24) 0px 3px 8px;
  margin-bottom: 4%;
  cursor: pointer;
}

.product-main .box1 {
  width: 50%;
  margin-right: 10%;
}

.product-main .box2 {
  width: 50%;
  margin-top: 3%;
}

.product-main .product-container {
  width: 95%;
  margin: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 8%;
}

.product-main .add-cart-btn {
  text-align: center;
  padding: 9.5px 40px;
  margin-left: 10px;
  border-radius: 7px;
  border: none;
  background-color: #fcfcfc;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.product-main .plus-btn {
  margin: 0;
  background-color: #363636;
  text-align: center;
  padding: 9px 8px;
  border-radius: 7px;
  border: none;
  color: white;
}

.product-main .zero {
  padding: 0 35px;
  font-size: 12px;
}

.product-main .all {
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
}

.product-main .zero11 {
  position: absolute;
  color: #363636;
  font-size: 70%;
}

.product-main .descrpt {
  font-size: 1rem;
  color: #363636;
  margin: 10% 0%;
}

.product-main .snk-p {
  font-size: 70%;
  letter-spacing: 2px;
}

.product-main .r-box {
  width: 30%;
  margin: 0 10px;
  -webkit-box-shadow: rgba(66, 62, 99, 0.24) 0px 3px 8px;
          box-shadow: rgba(66, 62, 99, 0.24) 0px 3px 8px;
}

.product-main .inner-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-main .h2-related {
  text-align: center;
  margin: 0;
  margin: 10px 0;
  font-size: 150%;
}

@media screen and (max-width: 1024px) {
  .product {
    width: 97%;
    overflow-x: hidden;
  }
  .product-container {
    width: 95%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .plus-btn {
    margin: 0;
    background-color: #363636;
    text-align: center;
    padding: 9px 0px;
    border-radius: 7px;
    border: none;
  }
  .zero {
    padding: 0 25px;
    font-size: 12px;
  }
  .descrpt {
    font-size: 1rem;
    color: gray;
    margin: 5% 0;
  }
  .add-cart-btn {
    text-align: center;
    padding: 9.5px 20px;
    margin-left: 10px;
    border-radius: 7px;
    border: none;
    background-color: #fcfcfc;
    -webkit-box-shadow: rgba(153, 144, 240, 0.24) 0px 3px 8px;
            box-shadow: rgba(153, 144, 240, 0.24) 0px 3px 8px;
    cursor: pointer;
  }
  .plus {
    margin-right: 10px;
  }
  .minus {
    margin-left: 10px;
  }
  .r-box {
    width: 30%;
    margin: 0 10px;
  }
  .inner-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .h2-related {
    text-align: center;
    margin: 0;
    margin: 10px 0;
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .product-main {
    width: 100%;
    overflow-x: hidden;
  }
  .product-container {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
  }
  .box1 {
    width: 100%;
  }
  .box2 {
    width: 90%;
    margin-left: 20px;
  }
  .img-1:hover {
    opacity: 1;
  }
  .img-1 {
    border-radius: 0;
    margin: 0;
  }
  .descrpt {
    font-size: 1rem;
    color: gray;
    margin: 5% 0;
  }
  .zero {
    padding: 0 40%;
    font-size: 12px;
  }
  .plus {
    margin-right: 5px;
  }
  .minus {
    margin-left: 5px;
  }
  .add-cart-btn {
    width: 100%;
    border-radius: 7px;
    border: none;
    background-color: #fcfcfc;
    -webkit-box-shadow: rgba(153, 144, 240, 0.24) 0px 3px 8px;
            box-shadow: rgba(153, 144, 240, 0.24) 0px 3px 8px;
    cursor: pointer;
    margin-bottom: 40px;
    position: relative;
    margin-left: 0;
    margin-top: 15px;
  }
  .plus-btn {
    width: 100%;
    margin: 0;
    background-color: #363636;
    text-align: center;
    padding: 9px 3px;
    border-radius: 7px;
    border: none;
  }
  .r-box {
    width: 60%;
    margin: 10px 10px;
  }
  .inner-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .h1-r {
    font-size: 20px;
    text-align: center;
  }
  .h2-related {
    text-align: center;
    margin: 0;
    margin: 10px 0;
    font-size: 20px;

.holla {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.yol {
  background-color: #f09090;
}

.div-category {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* testimonial box */
.testimonials-container {
  background-color: #476ce4;
  text-align: center;
  border-radius: 15px 15px 0 0;
  color: #ffffff;
  width: 100%;
  max-width: 100%;
  padding: 50px 80px;
  position: relative;
}

.come {
  background-color: #476ce4;
}

.pull-up {
  width: 10%;
}

.fa-quote {
  color: rgba(255, 255, 255, 0.3);
  font-size: 28px;
  position: absolute;
  top: 70px;
}

.fa-quote-right {
  right: 40px;
}

.fa-quote-left {
  left: 40px;
}

.testimonial {
  line-height: 28px;
  text-align: center;
}

.centered-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  -o-object-fit: cover;
     object-fit: cover;
}

.user-details {
  margin-left: 10px;
}

.username {
  margin: 0;
}

.role {
  font-weight: normal;
  margin: 2px 0;
}

.progress-bar {
  background-color: #fff;
  height: 4px;
  width: 100%;
  -webkit-animation: grow 10s linear infinite;
          animation: grow 10s linear infinite;
  -webkit-transform-origin: initial;
          transform-origin: initial;
}

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes grow {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@media (max-width: 768px) {
  .testimonials-container {
    padding: 20px 30px;
  }
  .fa-quote {
    display: none;
  }
}

@media (max-width: 425px) {
  .rollit {
    padding-top: 5rem;
  }
  .polka {
    display: block;
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .fa-quote-left, .fa-quote-right {
    display: none;
    visibility: hidden;

  }
}

.about header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.about header img {
  width: 500px;
}

.about section p {
  text-align: justify;
}

@media screen and (min-width: 900px) {
  .about section p {
    font-size: 20px;
    line-height: 1.7;
  }
}

.contact {
  padding: 100px 0;
  margin: auto;
  margin-bottom: 100px;
  max-width: 1400px;
}

.contact .contact-heading {
  font-size: 4rem;
  text-align: center;
}

.contact .contact-subheading {
  text-align: center;
}

.contact .contact-form {
  padding: 50px 0;
  width: 70%;
}

.contact .contact-newsletter {
  width: 70%;
  padding: 40px 50px;
  margin: 100px auto;
}

.contact .contact-newsletter h2 {
  text-align: center;
}

.contact .card-group {
  width: 70% !important;
  margin: auto;
  gap: 20px;
}

.contact .card-group .card {
  border: none;
}

.contact .card-group .card-body {
  border: 1px solid rgba(128, 128, 128, 0.431);
  border-radius: 15px;
  padding: 30px;
}

@media screen and (max-width: 600px) {
  .toucans {
    font-size: 11px;
  }
}

.theme__toggle {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.theme__toggle--dark, .theme__toggle--light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1b1b1b;
  padding: 8px 12px;
  color: white;
}

.theme__toggle--light {
  color: #1b1b1b;
  background-color: white;
}

body.dark-theme {
  background-color: #181818;
  color: white;
  -webkit-transition: background-color 1.5s;
  transition: background-color 1.5s;
}
/*# sourceMappingURL=styles.css.map */